@import "plugins";
@import "helper";
@import "style";

kudos {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.85rem;

  .text {
    font-size: 0.75rem;
    line-height: 0.75rem;
    vertical-align: text-bottom;
    margin-top: 1rem;
  }

  img {
    width: 25%;
  }
}