@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,600,600i,800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &::after,
  &::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html,
body,
.site-wrapper {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  font-display: swap;
  color: #555555;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #333333;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

h6 {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

*:focus {
  outline: none !important;
}

a {
  &:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

button,
input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/*--  Common Classes ----------------------------------*/

.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.section,
.main-wrapper {
  float: left;
  width: 100%;
}

.section {
  padding: 2rem 0;
}

.project-details {
  padding: 2rem 0;
}

@media only screen and (max-width: 767px) {
  .container {
    width: 43.125rem;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    width: 300px;
  }
}

.bg-grey {
  background-color: #f9f9f9 !important;
}

.main-wrapper {
  padding-top: 6.875rem;
  padding-bottom: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &.has-side-header {
    padding-left: 320px;
    padding-top: 0;
    padding-bottom: 0;

    .header-section,
    .footer-section {
      position: static;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .portfolio-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
}

@media only screen and (max-width: 767px) {
  .main-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .main-wrapper.has-side-header {
    padding-left: 280px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-wrapper.has-side-header {
    padding-left: 260px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-wrapper.has-side-header {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-wrapper.has-side-header {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-wrapper.has-side-header .content-body {
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .main-wrapper.has-side-header .content-body {
    height: auto;
  }
}

.content-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .section-wrap {
    margin: auto;
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content-body {
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .content-body {
    height: auto;
  }
}

/*----- section title start -----*/

.section-title {
  max-width: 400px;
  margin: 0 auto;

  .title {
    font-size: 2.25rem;
    font-weight: 500;
    padding-bottom: 10px;
    margin-top: -5px;
  }

  .sub-title {
    line-height: 1.6;
  }
}

@media only screen and (max-width: 767px) {
  .section-title .title {
    font-size: 26px;
  }
}

.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 2rem 0;

  .container-fluid {
    padding: 0 170px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-section {
    position: static;
  }
}

@media only screen and (max-width: 767px) {
  .header-section {
    position: static;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .header-section .container-fluid {
    padding: 0 3.125rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-section .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-section .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  .header-section .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 575px) {
  .header-section .container-fluid {
    padding: 0 25px;
  }
}

.social-media-mobile {
  display: none;
}

@media only screen and (max-width: 575px) {
  .header-logo .social-media {
    display: none;
  }

  .social-media-mobile {
    display: block;
    margin: 1rem 2rem;
    width: 100%;
    font-size: 2rem;

    a {
      margin-right: 1rem;
    }
  }
}

.header-logo {
  display: flex;

  a {
    position: relative;

    img {
      border-radius: 50%;
      max-width: 8rem;
    }
  }

  .header-details {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .name {
      font-size: 1.4rem;
    }
  }

  .social-media {
    margin-top: 1rem;
  }

  .social-media a {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  a {
    color: #555555;
    margin-right: 25px;

    i {
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    &:hover {
      color: #333333;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .header-social a {
    margin-right: 10px;
  }
}

.header-toggle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.side-header-toggle {
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: transparent;
  width: 1.875rem;
  height: 1.125rem;
  position: relative;

  span {
    width: 100%;
    height: 2px;
    background-color: #333333;
    display: block;
    margin: 8px 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #333333;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
      bottom: auto;
    }

    &::after {
      bottom: 0;
      top: auto;
    }
  }

  &.toggle-close span {
    background-color: transparent;

    &::before,
    &::after {
      width: 28px;
      left: 1px;
    }

    &::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.side-header-close {
  padding: 0;
  overflow: hidden;
  border: none;
  background-color: transparent;
  width: 28px;
  position: absolute;
  right: 10px;
  top: 10px;

  span {
    width: 100%;
    height: 2px;
    background-color: transparent;
    display: block;
    margin: 10px 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 28px;
      left: 1px;
      height: 2px;
      background-color: #333333;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
      bottom: auto;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      top: auto;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.side-menu-overlay {
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 991;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: default;
  opacity: 0;
  visibility: hidden;

  &.overlay-show {
    opacity: 0.85;
    visibility: visible;
  }
}

.side-header {
  background-color: #ffffff;
  border-right: 1px solid #f6f6f6;
  width: 320px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 0 3.125rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: default !important;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .side-header {
    width: 280px;
    padding: 0 1.875rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .side-header {
    width: 260px;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .side-header {
    left: -320px;
    opacity: 0;
    visibility: hidden;

    &.side-menu-open {
      visibility: visible;
      opacity: 1;
      left: 0;
      overflow: auto;
    }
  }
}

@media only screen and (max-width: 767px) {
  .side-header {
    left: -320px;
    opacity: 0;
    visibility: hidden;

    &.side-menu-open {
      visibility: visible;
      opacity: 1;
      left: 0;
      overflow: auto;
    }
  }
}

.mobile-side-header {
  left: -320px;
  opacity: 0;
  visibility: hidden;
}

.side-header-inner {
  cursor: default;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  padding: 2rem 0;

  div {
    clear: both;

    &.name {
      font-size: 1.4rem;
    }
  }

  i {
    font-size: 1.4rem;
  }

  .social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
}

.side-header-logo {
  margin-bottom: 3.125rem;

  a {
    line-height: 1;
    position: relative;

    img {
      border-radius: 50%;
      max-width: 100%;
      margin: 1rem 0;

      &.light-logo {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
}

nav.side-menu {
  display: flex;
  justify-content: center;

  span {
    margin: 0 1rem;
  }

  a.active {
    color: #df54a6;
    font-weight: bold;
  }
}

.side-header-footer {
  margin-top: 3.125rem;
}

.side-header-copyright p {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.046rem;
  margin-bottom: 1rem;
}

.about-image img {
  width: 100%;
}

.section-content {
  padding-left: 5.3125rem;

  .block-title {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.046rem;
    margin-bottom: 28px;
  }

  p {
    letter-spacing: 0.046rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-content .block-title {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .section-content {
    padding-left: 45px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-content {
    padding-left: 0.9375rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-content {
    padding-left: 0.9375rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-content {
    padding-left: 0.9375rem;
  }
}

/*-- Personal Info --*/

.personal-info {
  margin-bottom: 34px;
  padding-top: 10px;

  li {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-family: #333333;
    color: #555555;
    margin-bottom: 0.9375rem;

    span {
      font-weight: 600;
      color: #333333;
      margin-right: 10px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    li {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .personal-info {
    margin-bottom: 2.625rem;
  }
}

/*-- Skill Wrap --*/

.skill-wrap {
  float: left;
  width: 100%;
  clear: both;
}

/*-- Single Skill --*/

.single-skill {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 1.875rem;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    display: block;
    font-size: 0.875rem;
    line-height: 1;
    color: #555555;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.75rem;
  }

  .skill-bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #dbdbdb;
    padding: 1px;

    .skill-progress {
      display: block;
      height: 100%;
      background-color: #333333;
      position: relative;

      &::before {
        content: attr(data-progress);
        position: absolute;
        right: 0;
        bottom: 0.9375rem;
        font-size: 0.875rem;
        line-height: 1;
        color: #555555;
        font-family: "Poppins", sans-serif;
        letter-spacing: 1px;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: -1px;
        height: 3px;
        width: 7px;
        background-color: #333333;
      }
    }
  }
}

/*-- Portfolio Item --*/
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

@media only screen and (max-width: 767px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 2560px) and (max-width: 4000px) {
  .portfolio-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .portfolio-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio,
  .home {
    margin: 0 auto;
  }
}

.portfolio-item {
  position: relative;

  a img {
    border: 1px solid #f6f6f6;
  }

  .portfolio-image {
    display: block;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      opacity: 0;
      z-index: 2;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    img {
      width: 100%;
    }
  }

  .portfolio-content {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 15px;
    text-align: center;
    z-index: 4;

    .title {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;

      a {
        color: #333333;

        &:hover {
          color: #333333;
        }
      }
    }

    .category {
      display: block;
      line-height: 1;
      -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
      transform: translateY(15px);
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;

      a {
        display: inline-block;
        line-height: 1;
        letter-spacing: 1px;
        font-size: 0.875rem;
        color: #555555;

        &:hover {
          color: #333333;
        }
      }
    }
  }

  &:hover {
    .portfolio-image::before {
      opacity: 0.8;
    }

    .portfolio-content {
      .title,
      .category {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &.portfolio-screen-height .portfolio-image {
    height: calc(100vh - 200px);
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-item.portfolio-screen-height .portfolio-image {
    min-height: 335px;
  }
}

/*-- Portfolio Details Image --*/

.portfolio-details-image img {
  width: 100%;
  margin-bottom: 1.875rem;

  &:last-child {
    margin-bottom: 0;
  }
}

/*-- Portfolio Details Content --*/

.portfolio-details-content {
  padding-left: 1.875rem;

  .category {
    font-size: 1rem;
    color: #555555;
    line-height: 1;
    display: inline-block;
    margin-bottom: 0.9375rem;
    font-family: "Poppins", sans-serif;

    &:hover {
      color: #333333;
    }
  }

  .title {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
  }

  ul.project-info {
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      display: block;
      margin-bottom: 10px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        display: block;
        font-size: 0.875rem;
        font-weight: 600;
        color: #333333;
      }

      a {
        color: #555555;

        &:hover {
          color: #333333;
        }

        &::after {
          content: ",";
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }

  .project-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    span {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: #333333;
      margin-right: 0.9375rem;
    }

    a {
      color: #555555;
      margin-right: 0.9375rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #333333;
      }

      i {
        display: block;
        font-size: 1rem;
        line-height: 26px;
      }
    }
  }

  .project-nav {
    overflow: hidden;
    margin-top: 35px;
    border-top: 1px solid #eeeeee;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      font-size: 0.875rem;
      color: #555555;
      font-weight: 600;
      font-family: "Poppins", sans-serif;

      span {
        display: block;
        font-size: 0.875rem;
        color: #333333;
        text-transform: capitalize;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
      }

      &.prev-project {
        float: left;
        text-align: left;
      }

      &.next-project {
        float: right;
        text-align: right;
      }

      &:hover {
        color: #333333;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-details-content {
    padding-left: 0.9375rem;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-details-content {
    padding-left: 0.9375rem;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-details-content .title {
    font-size: 1.5rem;
  }
}

/*----------------------------------------*/
/*  08. Sidebar CSS
/*----------------------------------------*/
/*-- Sidebar --*/

.sidebar {
  margin-bottom: 27px;
  float: left;
  width: 100%;
  overflow: hidden;

  /*-- Title --*/

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 1.125rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar .title {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 575px) {
  .sidebar .title {
    font-size: 1.125rem;
  }
}

/*-- Sidebar Tags --*/

.sidebar-tags a {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #555555;
  margin-right: 5px;

  &::after {
    content: ",";
  }

  &:last-child::after {
    display: none;
  }

  &:hover {
    color: #333333;
  }
}

/*  12. 404 CSS */
/*-- Error 404 Wrap --*/

.error-404-wrap {
  height: 100vh;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .error-404-wrap {
    height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .error-404-wrap {
    height: auto !important;
  }
}

/*-- Error 404 Image --*/

.error-404-image img {
  max-width: 100%;
}

/*-- Error 404 Content --*/

.error-404-content {
  h1 {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 32px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #555555;
    letter-spacing: 0.5px;
    margin-bottom: 80px;
    max-width: 515px;
  }

  a {
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .error-404-content {
    h1 {
      font-size: 60px;
    }

    h3 {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .error-404-content {
    h1 {
      font-size: 60px;
    }

    h3 {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 575px) {
  .error-404-content {
    h1 {
      font-size: 40px;
    }

    h3 {
      font-size: 1.125rem;
      line-height: 28px;
      margin-bottom: 1.875rem;
    }
  }
}

/*  13. Footer CSS */

.footer-section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  .container-fluid {
    padding: 0 170px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section {
    position: static;
  }
}

@media only screen and (max-width: 767px) {
  .footer-section {
    position: static;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .footer-section .container-fluid {
    padding: 0 3.125rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-section .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-section .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-section .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 575px) {
  .footer-section .container-fluid {
    padding: 0 25px;
  }
}

/*-- Footer Copyright --*/

.footer-copyright p {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.875rem;

  a {
    color: #555555;

    &:hover {
      color: #333333;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-copyright p {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-copyright p {
    text-align: center;
    font-size: 13px;
  }
}

kudos {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.85rem;

  .text {
    font-size: 0.75rem;
    line-height: 0.75rem;
    vertical-align: text-bottom;
    margin-top: 1rem;
  }
}
