<!-- Header Section Start -->
<div class="header-section section d-block d-lg-none">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="header-logo col mt-40 mb-40">
                <LinkTo @route="index">
                    <img src="https://en.gravatar.com/userimage/5247753/8abc3ad5a0804e57d54939f622684790.jpg" />
                </LinkTo>
            </div>
            <!-- Toggle Button -->
            <div class="header-toggle-btn col text-right">
                <button class="side-header-toggle"><span></span></button>
            </div>
        </div>
    </div>
</div>
<!-- Header Section End -->