<!-- Content Body Start -->
<div class="content-body section">
	<!-- About Section Start -->
	<div class="home">
		<div class="container">
			<div class="row">
				<!-- About Content -->
				<div class="section-content col-xl-12 col-12">

					<h3 class="block-title">Thanks for stopping by!</h3>
					<p>
						Hi, I’m Venus Ang, a Front-End Developer and UI/UX Designer. I have 10+ years of hands-on
						experience in e-commerce, education, non-profit, entertainment and Infosec.
					</p>

					<!-- Personal Info -->
					<ul class="personal-info">
						<li><span>Hometown:</span>San Diego, CA</li>
						<li><span>Current Town:</span>Los Angeles, CA</li>
						<li><span>Personal Interests:</span>Music, art, traveling, cycling and sometimes doing absolutely nothing.
						</li>
						<li><span>Pets:</span> I have two Russell Terriers - <a href="/{{rootURL}}assets/images/lucy-harley.jpg"
								alt="Lucy and Harley" target="_blank" aria-label="Check out a picture of my dogs, Lucy and Harley"
								target="_blank" rel="noopener"><span style="text-decoration: underline;">Lucy and
									Harley</span></a> ({{fa-icon "paw"}} Lucy is on the left, Harley is on the right {{fa-icon "paw"}}).
						</li>
						<li><span>What I know for certain:</span>I really don't like running. But I'll do a 5k with friends and even
							better if
							there is
							a beer garden at the end.</li>
					</ul>
					<h3 class="block-title">Skills</h3>
					<ul class="personal-info">
						<li><span>Specialties:</span>HTML, CSS, JavaScript (ES6)</li>
						<li><span>UI Frameworks:</span>Ember.js (Octane), Vue.js, Angular, React, WordPress, BackBone.js</li>
						<li><span>Other:</span>Ruby on Rails, Node.js, Shopify, Magento, .NET</li>
					</ul>
					<!-- Skill Wrap -->
					<div class="skill-wrap">
						<!-- Single Skill -->
						<p>Relative skills self-assessment</p>
						<div class="single-skill">
							<span>Front-End Development</span>
							<div class="skill-bar">
								<div class="skill-progress" style="width: 100%;"></div>
							</div>
						</div>

						<div class="single-skill">
							<span>Graphic Design (Photoshop, Sketch, Illustrator)</span>
							<div class="skill-bar">
								<div class="skill-progress" style="width: 75%;"></div>
							</div>
						</div>

						<!-- Single Skill -->
						<div class="single-skill">
							<span>Web Design</span>
							<div class="skill-bar">
								<div class="skill-progress" style="width: 85%;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<Projects @projects={{@model}} />