<!-- Content Body Start -->
<div {{fullpage}} class="content-body section">
    <!-- Full Page Start -->
    <div id="fullpage">
        <!-- About Section Start -->
        <div data-anchor="home" class="fp-section fp-auto-height-responsive">
            <div
                class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-90 pb-lg-50 pb-md-50 pb-sm-50 pb-xs-20">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- About Content -->
                        <div class="about-content col-xl-12 col-12 mb-30">
                            <h3 class="block-title">WELCOME</h3>
                            <p>
                                Hi, I’m Venus Ang, a Front-End Developer and UI/UX Designer. I have 10+ years of
                                hands-on
                                experience
                                in e-commerce, education, non-profit and entertainment. Additional samples available
                                upon request.
                            </p>

                            <!-- Personal Info -->
                            <ul class="personal-info">
                                <li><span>Hometown:</span>San Diego, CA</li>
                                <li><span>Current Town:</span>Los Angeles, CA</li>
                                <li><span>Current Projects/Interests:</span>All the things!</li>
                            </ul>
                            <h3 class="block-title">Skills</h3>
                            <ul class="personal-info">
                                <li><span>Specialties:</span>HTML, CSS, JavaScript (ES6)</li>
                                <li><span>UI Frameworks:</span>Ember.js (Octane), Vue.js, Angular, React, BackBone.js
                                </li>
                                <li><span>Other:</span>Ruby on Rails, Node.js, WordPress, Shopify, Magento, .NET</li>
                            </ul>
                            <!-- Skill Wrap -->
                            <div class="skill-wrap">
                                <!-- Single Skill -->
                                <p>Relative skills self-assessment</p>
                                <div class="single-skill">
                                    <span>Front-End Development</span>
                                    <div class="skill-bar">
                                        <div class="skill-progress" style="width: 100%;"></div>
                                    </div>
                                </div>

                                <div class="single-skill">
                                    <span>Graphic Design (Photoshop, Sketch, Illustrator)</span>
                                    <div class="skill-bar">
                                        <div class="skill-progress" style="width: 75%;"></div>
                                    </div>
                                </div>

                                <!-- Single Skill -->
                                <div class="single-skill">
                                    <span>Web Design</span>
                                    <div class="skill-bar">
                                        <div class="skill-progress" style="width: 85%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->

        <!-- Service Section Start -->
        <!-- Service Section End -->

        <!-- Portfolio Section Start -->
        <div data-anchor="portfolio" class="fp-section fp-auto-height-responsive">
            <div
                class="fp-section-inner pt-120 pt-lg-80 pt-md-80 pt-sm-80 pt-xs-50 pb-105 pb-lg-65 pb-md-65 pb-sm-65 pb-xs-35">
                <div class="container">
                    <div class="row row-8">
                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/leaders-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Leaders Cosmetics</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/corespring-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Corespring</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/placeavote-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Place A Vote</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/anypresence-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">AnyPresence</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/slc-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Smart Living Company</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/fcci-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">First Capital Consulting
                                        </LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/cantinas-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Cantinas Ranch</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/facebook-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Facebook Rock of Ages App</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/ventata-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Ventana</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/caa-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">CAA</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/experian-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Experian</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/myspace-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">MySpace</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/fox-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">FOX</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Design & Development</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/chevy-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Chevy</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">Print Design</a></span>
                                </div>
                            </div>
                        </div>

                        <!-- Portfolio Item -->
                        <div class="col-xl-4 col-md-6 col-12 mb-15">
                            <div class="portfolio-item">
                                <LinkTo @route="project" @class="portfolio-image">
                                    <img src="assets/images/portfolio/d3-logo.png" alt="" />
                                </LinkTo>

                                <div class="portfolio-content">
                                    <h4 class="title">
                                        <LinkTo @route="project">Disney</LinkTo>
                                    </h4>
                                    <span class="category"><a href="#">UI/UX Design</a></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Section End -->
    </div>
    <!-- Full Page End -->
</div>