<!-- Portfolio Item -->

<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/leaders-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Leaders Cosmetics</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/corespring-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Corespring</LinkTo>
        </h4>
        <span class="category"><a href="#">Design</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/placeavote-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Place A Vote</LinkTo>
        </h4>
        <span class="category"><a href="#">Design</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/anypresence-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">AnyPresence</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/slc-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Smart Living Company</LinkTo>
        </h4>
        <span class="category"><a href="#">Design</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/fcci-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">First Capital Consulting
            </LinkTo>
        </h4>
        <span class="category"><a href="#">Design</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/cantinas-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Cantinas Ranch</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/facebook-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Facebook Rock of Ages App</LinkTo>
        </h4>
        <span class="category"><a href="#">Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/ventata-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Ventana</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/caa-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">CAA</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/experian-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Experian</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/myspace-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">MySpace</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/fox-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">FOX</LinkTo>
        </h4>
        <span class="category"><a href="#">Design & Development</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/chevy-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Chevy</LinkTo>
        </h4>
        <span class="category"><a href="#">Print Design</a></span>
    </div>
</div>

<!-- Portfolio Item -->
<div class="portfolio-item">
    <LinkTo @route="project" @class="portfolio-image">
        <img src="assets/images/portfolio/d3-logo.png" alt="project description" />
    </LinkTo>

    <div class="portfolio-content">
        <h4 class="title">
            <LinkTo @route="project">Disney</LinkTo>
        </h4>
        <span class="category"><a href="#">UI/UX Design</a></span>
    </div>
</div>