<!-- Portfolio Item -->
<div class="portfolio-item">
	<LinkTo @route="project" @model={{@project}} @class="portfolio-image">
		<img src="assets/images/portfolio/{{@project.thumbnail}}" alt="project description" />
	</LinkTo>

	<div class="portfolio-content">
		<h4 class="title">
			<LinkTo @route="project" @model={{@project}}>
				{{@project.title}}
			</LinkTo>
		</h4>
	</div>
</div>